@font-face
	font-family arsenal
	src url(../fonts/Arsenal-Regular.ttf)
@font-face
	font-family kozgo
	src url(../fonts/KozGoPr6N-Regular.otf)
@font-face
	font-family notoT
	src url(../fonts/NotoSansJP-Thin.otf)
@font-face
	font-family notoL
	src url(../fonts/NotoSansJP-Light.otf)
	
	
*, *:before, *:after
	box-sizing: border-box;
	transition opacity 1s ease
	
.bot
	a
		letter-spacing 2px
a
	color inherit
	font-family inherit
	//text-decoration none
	letter-spacing inherit
h2,h1
	margin 0
	font-weight normal
	color white
.wrapper-landing
	height calc(100% - 144px)
@media (min-height: 912px)
	.wrapper-landing
		height 785px
@media (min-width: 1436px)
	figure
		text-align center
		img
			width 991px
			margin 0
h1
	font-size 18px
	font-family arsenal
	letter-spacing 3px
	line-height 26px
	text-align: center;
	padding: 0 30px;
	span.noto
		font-size 15px
h2
	font-size 14px
	font-family arsenal
	letter-spacing 3px
.container
	height 100vh
	background #AD1F24
	display flex
	flex-direction column
	align-items center
	justify-content center
.wrapper-landing
	
	max-width 1300px
	background #AD1F24
	display flex
	flex-direction column
	justify-content space-between
	align-items center
	padding 0 70px
	//padding 70px
figure
	margin 0 0 25px
	text-align center
	img
		width calc(100% - 150px)
.sec-1,.sec-2,.sec-3
	opacity 0
.noto
	font-family notoT
.br-mobile
	display none
// -----------------------------
@media (max-height: 768px)
	.wrapper-landing
		padding 30px 70px
		height calc(100% - 144px)
@media (max-width: 768px)
	figure
		margin-bottom 15px
	.wrapper-landing
		height 100vh
		padding 50px
	.mid
		//width calc(100% - 25px)
		h1
			span
				display none
				&.noto
					display block
@media (max-width: 576px)
	figure
		margin-bottom 60px
	.wrapper-landing
		padding 40px 25px
	h1
		font-size: 30px;
		font-family: arsenal;
		letter-spacing: 5px;
		line-height: 40px;
		text-align: center;
		padding: 0;
		.noto
			font-size: 12px;
			line-height: 22px;
			margin-top 5px
			letter-spacing 5px
			font-family notoL
@media (max-width: 420px)
	.br-mobile
			display inherit